<?xml version = "1.0" encoding = "utf-8"?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint behaviorConfiguration = "ServiceCertificate"
            address  = "sb://MySolution.servicebus.windows.net/MyService/"
            binding  = "netTcpRelayBinding"
            bindingConfiguration = "MessageSecurity"
            contract = "IMyContract">
            <identity>
               <dns value = "MyServiceCert"/>
            </identity>
         </endpoint>
      </client>
      <bindings>
         <netTcpRelayBinding>
            <binding name = "MessageSecurity">
               <security mode = "Message">
                  <message clientCredentialType = "UserName"/>
               </security>
            </binding>
         </netTcpRelayBinding>
      </bindings>
      <behaviors>
         <endpointBehaviors>
            <behavior name = "ServiceCertificate">
               <clientCredentials>
                  <serviceCertificate>
                     <authentication certificateValidationMode= "PeerTrust"/>
                  </serviceCertificate>
               </clientCredentials>
            </behavior>
         </endpointBehaviors>
      </behaviors>
   </system.serviceModel>
</configuration>