<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
   <system.serviceModel>
      <services>
         <service name = "AccountService">
            <endpoint
               address  = "net.pipe://localhost/AccountService/"
               bindingConfiguration = "TransactionalIPC"
               binding= "netNamedPipeBinding"
               contract = "IAccount"
            />
         </service>
         <service name = "AccountManager">
            <endpoint
               address  = "net.tcp://localhost:8001/AccountManager/"
               bindingConfiguration = "TransactionalTCP"
               binding  = "netTcpBinding"
               contract = "IAccountManager"
            />
         </service>
      </services>
      <client>
         <endpoint
            address  = "net.pipe://localhost/AccountService/"
            bindingConfiguration = "TransactionalIPC"
            binding= "netNamedPipeBinding"
            contract = "IAccount"
         />
      </client>
      <bindings>
         <netTcpBinding>
            <binding name = "TransactionalTCP"
               transactionFlow = "true"
            />
         </netTcpBinding>
         <netNamedPipeBinding>
            <binding name = "TransactionalIPC"
               transactionFlow = "true"
            />
         </netNamedPipeBinding>
      </bindings>
   </system.serviceModel>
</configuration>
