<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:8080/echo/svc" bindingConfiguration="BasicHttpBinding_IEchoService"
                binding="customBinding" name="IEchoService" contract="IEchoService" />
            <endpoint address="net.tcp://localhost:8081/echo/svc" bindingConfiguration="NetTcpBinding_IEchoService"
                binding="customBinding" name="IEchoService1" contract="IEchoService" />
        </client>
        <bindings>
            <customBinding>
                <binding name="BasicHttpBinding_IEchoService">
                    <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Soap11Addressing1" writeEncoding="utf-8" />
                    <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                        mapAddressingHeadersToHttpHeaders="true" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" />
                </binding>
                <binding name="NetTcpBinding_IEchoService">
                    <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" />
                    <windowsStreamSecurity protectionLevel="EncryptAndSign" />
                    <tcpTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxMessageSize="65536" connectionBufferSize="8192" connectionPoolGroupName="default"
                        hostNameComparisonMode="StrongWildcard" idleTimeout="00:02:00"
                        maxBufferSize="65536" maxInboundConnections="10" maxOutboundConnectionsPerEndpoint="10"
                        maxOutputDelay="00:00:00.2000000" maxPendingAccepts="1" transferMode="Buffered"
                        connectionLeaseTimeout="00:05:00" listenBacklog="10" portSharingEnabled="false"
                        teredoEnabled="false" />
                </binding>
            </customBinding>
        </bindings>
    </system.serviceModel>
</configuration>