<?xml version="1.0"   encoding="utf-8"   ?>
<configuration>
   <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="MyNamespace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
   </configSections>
   <system.serviceModel>
      <services>
         <service name = "MyService">
            <endpoint
               address  = "MyService"
               binding  = "netTcpBinding"
               contract = "IMyContract"
            />
         </service>
      </services>
    </system.serviceModel>
  <applicationSettings>
      <MyNamespace.Properties.Settings>
         <setting name="PermissionSetFileName" serializeAs="String">
            <value>MyServicePermissions.xml</value>
         </setting>
      </MyNamespace.Properties.Settings>
   </applicationSettings>
</configuration>
