<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
   <system.serviceModel>
      <services>
         <service name = "MyService">
            <endpoint behaviorConfiguration = "MyScope"
               address  = "MyService" 
               binding  = "netTcpBinding"
               contract = "IMyContract" 
            />
            <endpoint 
               kind = "udpDiscoveryEndpoint"
            />        
         </service>
      </services>
      <behaviors>
         <serviceBehaviors>
            <behavior>
               <serviceDiscovery/>
            </behavior>
         </serviceBehaviors>
         <endpointBehaviors>
            <behavior name = "MyScope">
               <endpointDiscovery>
                  <scopes>
                     <add scope = "net.tcp://MyApplication"/>
                  </scopes>
               </endpointDiscovery>
            </behavior>
         </endpointBehaviors>
      </behaviors>
   </system.serviceModel>
</configuration>
