<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
   <system.diagnostics>
      <sources>
         <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
            <listeners>
               <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                  <filter type="" />
               </add>
               <add name="ServiceModelMessageLoggingListener">
                  <filter type="" />
               </add>
            </listeners>
         </source>
         <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
            <listeners>
               <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                  <filter type="" />
               </add>
               <add name="ServiceModelTraceListener">
                  <filter type="" />
               </add>
            </listeners>
         </source>
      </sources>
      <sharedListeners>
         <add initializeData="C:\Temp\WCF\app_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            name="ServiceModelMessageLoggingListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
            <filter type="" />
         </add>
         <add initializeData="C:\Temp\WCF\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            name="ServiceModelTraceListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
            <filter type="" />
         </add>
      </sharedListeners>
      <trace autoflush="true" />
   </system.diagnostics>

   <system.serviceModel>
      <services>
         <service name = "MyService">
            <endpoint
               address  = "net.tcp://localhost:8000/MyService/" 
               binding  = "netTcpBinding"
               contract = "IMyContract"
            />
         </service>
      </services>
   </system.serviceModel>
</configuration>
