<?xml version = "1.0" encoding = "utf-8"?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint
            address  = "https://MySolution.servicebus.windows.net/MyService/"
            binding  = "wsHttpRelayBinding"
            bindingConfiguration = "MixedSecurity"
            contract = "IMyContract"
         />
      </client>
      <bindings>
         <wsHttpRelayBinding>
            <binding name = "MixedSecurity">
               <security mode = "TransportWithMessageCredential"/>
            </binding>
         </wsHttpRelayBinding>
      </bindings>
   </system.serviceModel>
</configuration>