<?xml version = "1.0" encoding = "utf-8"?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint
            address  = "sb://myservicenamespace.servicebus.windows.net/MyCalculatorQueue/" 
            binding  = "netOnewayRelayBinding"
            contract = "ICalculator" 
         />
      </client>
   </system.serviceModel>
</configuration>