<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>



      <bindings>
          <wsHttpBinding>
              <binding name="WsBindingConfiguration">
                  <security mode="None" />
              </binding>
          </wsHttpBinding>

        <netPeerTcpBinding>
          <binding  name="PeerBindingUnsecure">
            <security mode="None"/>
            <resolver mode="Pnrp"/>
          </binding>
        </netPeerTcpBinding>

      </bindings>
      <services>
          <service name="System.ServiceModel.Routing.RoutingService">
              <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WsBindingConfiguration"
                  name="routerEndpoint" contract="System.ServiceModel.Routing.IRequestReplyRouter" />
          </service>


        <service name="DynamicRouter.PeerService" behaviorConfiguration="PeerToPeerBehavior">
          <endpoint
              name="PeerServiceEndpoint"
              address="net.p2p://Notification"
              binding="netPeerTcpBinding"
              bindingConfiguration="PeerBindingUnsecure"
              contract="DynamicRouter.INotify"/>
        </service>


      </services>


      <behaviors>
           
      <serviceBehaviors>


        <behavior name="PeerToPeerBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>

      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
