<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="RetryPolicyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.WindowsAzure.TransientFaultHandling.Configuration.RetryPolicyConfigurationSettings, Microsoft.Practices.EnterpriseLibrary.WindowsAzure.TransientFaultHandling" />
    <section name="typeRegistrationProvidersConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <connectionStrings>
    <add name="TreyResearchDataModelContainer" connectionString="metadata=res://*/DataStores.Entities.TreyResearchDataModelContainer.csdl|res://*/DataStores.Entities.TreyResearchDataModelContainer.ssdl|res://*/DataStores.Entities.TreyResearchDataModelContainer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WAGSQLALIAS;initial catalog=TreyResearch.HeadOffice;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TreyResearchDatabase" connectionString="data source=WAGSQLALIAS;initial catalog=TreyResearch.HeadOffice;integrated security=True;multipleactiveresultsets=True;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <RetryPolicyConfiguration defaultRetryStrategy="Fixed Interval Retry Strategy" defaultAzureStorageRetryStrategy="Fixed Interval Retry Strategy" defaultSqlCommandRetryStrategy="Backoff Retry Strategy">
    <incremental name="Incremental Retry Strategy" retryIncrement="00:00:01" initialInterval="00:00:01" maxRetryCount="10" />
    <fixedInterval name="Fixed Interval Retry Strategy" retryInterval="00:00:05" maxRetryCount="6" firstFastRetry="true" />
    <exponentialBackoff name="Backoff Retry Strategy" minBackoff="00:00:05" maxBackoff="00:00:45" deltaBackoff="00:00:04" maxRetryCount="10" />
  </RetryPolicyConfiguration>
  <typeRegistrationProvidersConfiguration>
    <clear />
    <add sectionName="RetryPolicyConfiguration" name="RetryPolicyConfiguration" />
  </typeRegistrationProvidersConfiguration>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- ServiceBus config-->
    <!-- comma separated values to allow the Audit log listener listen multiple ServiceBus namespaces-->
    <add key="AuditServiceBusList" value="{your_service_bus_namespace}" />
    <add key="serviceBusNamespace" value="{your_service_bus_namespace}" />
    <add key="UriScheme" value="sb" />
    <add key="RelayServicePath" value="Services/RelayedOrdersStatistics" />
    <add key="topicName" value="NewOrdersTopic" />
    <add key="subscriptionName" value="auditloglistenersubscription" />
    <add key="issuer" value="auditloglistener" />
    <add key="defaultKey" value="{auditloglistener_key_value}" />
    <!--Diagnostics logs config-->
    <add key="dataCenters" value="StorageEmulator" />
    <!--<add key="dataCenters" value="South-Central-US, North-Central-US"/>
    <add key="diagnosticsStorageAccountName.South-Central-US" value="[storage account name]"/>
    <add key="diagnosticsStorageAccountKey.South-Central-US" value="[storage account key]"/>
    <add key="diagnosticsStorageAccountName.North-Central-US" value="[storage account name]"/>
    <add key="diagnosticsStorageAccountKey.North-Central-US" value="[storage account key]"/>-->
  </appSettings>
  <system.web>
    <customErrors mode="On"></customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <services>
      <service name="HeadOffice.Services.OrdersStatistics">
        <endpoint behaviorConfiguration="SharedSecretBehavior" binding="netTcpRelayBinding" contract="HeadOffice.Services.IOrdersStatistics" name="RelayEndpoint" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SharedSecretBehavior">
          <transportClientEndpointBehavior credentialType="SharedSecret">
            <clientCredentials>
              <sharedSecret issuerName="headoffice" issuerSecret="{headoffice_key_value}" />
            </clientCredentials>
          </transportClientEndpointBehavior>
          <serviceRegistrySettings discoveryMode="Public" displayName="RelayedOrdersStatistics_Service" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <bindingExtensions>
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
      <behaviorExtensions>
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>