<?xml version = "1.0" encoding = "utf-8"?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint 
            address  = "net.tcp://localhost:8000/MyService/"
            binding  = "netTcpBinding"
            bindingConfiguration = "RM"
            contract = "IMyContract"
         />
      </client>
      <bindings>
         <netTcpBinding>
            <binding name = "RM">
               <reliableSession enabled = "true"/>
            </binding>
         </netTcpBinding>
      </bindings>
   </system.serviceModel>
</configuration>