<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="TaskService.TaskService" behaviorConfiguration="MexEnabled">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/TaskService"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="TaskService.ITaskService" >
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MexEnabled">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>