<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ApplicationServices"
         connectionString="data source=.;Integrated Security=SSPI;Initial Catalog=aspnetdb"
         providerName="System.Data.SqlClient" />
        <add name="AdventureWorks"
         connectionString="data source=.;Integrated Security=SSPI;Initial Catalog=AdventureWorksLT2008R2"
         providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />

        <authentication mode="Forms">
            <!--
            <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
            -->
            <forms loginUrl="~/Account/AsyncLogin.aspx" timeout="2880" />
        </authentication>

        <membership>
            <providers>
                <clear/>
                <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
       passwordFormat="Encrypted" applicationName="AdwentureWorks"/>
            </providers>
        </membership>

        <profile defaultProvider="AspNetSqlProfileProvider">
            <providers>
                <clear/>
                <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="AdwentureWorks"/>
            </providers>
            <properties>
                <add name="FirstName" type="String"/>
                <add name="LastName" type="String"/>
                <add name="DateOfBirth" type="DateTime" serializeAs="String"/>
            </properties>
        </profile>

        <roleManager enabled="true" cookieName=".AWROLES">
            <providers>
                <clear />
                <add connectionStringName="ApplicationServices" applicationName="AdwentureWorks"
                 name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
                <add applicationName="AdwentureWorks" name="AspNetWindowsTokenRoleProvider"
                 type="System.Web.Security.WindowsTokenRoleProvider" />
            </providers>
        </roleManager>

        <machineKey decryptionKey="E6505C95BC6376D279969CA709C6F611F2744AC0D8D3EF1BF72A1E53680C36DD"
   validationKey="918D31D3EEE36A4D52B77D2FA9F7456BF991EFB80B4FFFFF4A5E4A1A4D39FDFCDA237F521EA973E82C3ABE95B54555B5B2F3203E0CE6B5034AAD7475238BBE9C"
   decryption="AES" validation="SHA1" />

    </system.web>

    <system.web.extensions>
        <scripting>
            <webServices>
                <authenticationService enabled="true" requireSSL="false" />
                <roleService enabled="true"/>
                <profileService enabled="true" readAccessProperties="FirstName,LastName" writeAccessProperties="FirstName,LastName"/>
            </webServices>
        </scripting>
    </system.web.extensions>
    
    <location path="Default.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
            </authorization>
        </system.web>
    </location>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>
