@{
    ViewBag.Title = "Home Page";
}

<h1><span lang=EN-US>Trey Research On-premises Management and Monitoring Application</span></h1>
<p>&nbsp;</p>

<p style='margin-left:0cm;text-indent:0cm'><span lang=EN-US>This 
application simulates some of the main functions that Trey Research requires 
to manage and monitor the Orders application.</span></p>

<p style='margin-left:0cm;text-indent:0cm'><span lang=EN-US>The 
<b>Products</b> page shows a list of products that Trey Research offers in the
Orders application, and allows the product list to be edited.</span></p>

<p style='margin-left:0cm;text-indent:0cm'><span lang=EN-US>The 
<b>Customers</b> page shows a list of customers currently registered with the
Trey Research Orders application.</span></p>

<p style='margin-left:0cm;text-indent:0cm'><span lang=EN-US>The 
<b>Audit Log</b> page shows a list of orders with a total value over $10,000 that
have been placed in the Trey Research Orders application.</span></p>

<p style='margin-left:0cm;text-indent:0cm'><span lang=EN-US>The 
<b>Diagnostics Log</b> page shows a list of diagnostics messages that are transferred
to WADLogsTable in the Trey Research Orders application and downloaded to
the on-premises HeadOffice database.</span></p>


