<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
   <system.serviceModel>
      <services>
         <service name = "MyService">
            <endpoint
               address  = "net.tcp://localhost:8001/MyService" 
               binding  = "netTcpContextBinding"
               bindingConfiguration = "TransactionalTCP"
               contract = "IMyCounter" 
            />
         </service>
      </services>
      <bindings>
         <netTcpContextBinding>
            <binding name = "TransactionalTCP"
               transactionFlow = "true"
            />
         </netTcpContextBinding>
      </bindings>
   </system.serviceModel>
</configuration>
