<?xml version = "1.0" encoding = "utf-8"?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint behaviorConfiguration = "ServiceCertificate"
            address  = "http://MySolution/servicebus.windows.net/MyService/"
            binding  = "wsHttpRelayBinding"
            bindingConfiguration = "WS Message Security"
            contract = "IMyContract">
            <identity>
               <dns value = "MyServiceCert"/>
            </identity>
         </endpoint>
      </client>
      <bindings>
         <wsHttpRelayBinding>
            <!--WS must use message security (preferred) or https over transport security-->
            <binding name = "WS Message Security">
               <security>
                  <message clientCredentialType = "None"/>
               </security>
            </binding>
         </wsHttpRelayBinding>
      </bindings>
      <behaviors>
         <endpointBehaviors>
            <behavior name = "ServiceCertificate">
               <clientCredentials>
                  <serviceCertificate>
                     <authentication certificateValidationMode= "PeerTrust"/>
                  </serviceCertificate>
               </clientCredentials>
            </behavior>
         </endpointBehaviors>
      </behaviors>
   </system.serviceModel>
</configuration>