<?xml version = "1.0" encoding = "utf-8"?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint behaviorConfiguration = "ServiceCertificate"
            address  = "sb://MySolution.servicebus.windows.net/MyService/"
            binding  = "netOnewayRelayBinding"
            bindingConfiguration = "MessageSecurity"
            contract = "IMyContract">
            <identity>
               <dns value = "MyServiceCert"/>
            </identity>
         </endpoint>
      </client>
      <bindings>
         <netOnewayRelayBinding>
            <binding name = "MessageSecurity">
               <security mode = "Message">
                  <message clientCredentialType = "None"/>
               </security>
            </binding>
         </netOnewayRelayBinding>
      </bindings>
      <behaviors>
         <endpointBehaviors>
            <behavior name = "ServiceCertificate">
               <clientCredentials>
                  <serviceCertificate>
                     <scopedCertificates>
                        <add targetUri = "sb://MySolution.servicebus.windows.net/MyService/"
                           findValue     = "MyServiceCert"
                           storeLocation = "LocalMachine"
                           storeName     = "My"
                           x509FindType  = "FindBySubjectName"                        
                        />
                     </scopedCertificates>
                  </serviceCertificate>
               </clientCredentials>
            </behavior>
         </endpointBehaviors>
      </behaviors>
   </system.serviceModel>
</configuration>