<?xml version = "1.0" encoding = "utf-8"?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint 
            address  = "http://localhost:8000/MyService/" 
            binding  = "wsDualHttpBinding"
            bindingConfiguration = "CallbackAdress"
            contract = "IMyContract"
         />
      </client>
      <bindings>
         <wsDualHttpBinding>
            <binding name = "CallbackAdress" clientBaseAddress= "http://localhost:9000/"
            />
         </wsDualHttpBinding>
      </bindings>
   </system.serviceModel>
</configuration>