<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ITaskService">
                    <security mode="None"/>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_TaskService"/>
            </wsHttpBinding>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_TaskService_BasicAuth">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_TaskService_WindowsAuth">
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <behaviors>
            <endpointBehaviors>
                <behavior name="credentials">
                    <clientCredentials supportInteractive="true" >
                    </clientCredentials>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <client>
            <endpoint address="net.tcp://localhost/WasHost/TaskService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITaskService" contract="TaskWcfService.ITaskService" name="NetTcpBinding_ITaskService"/>
            <endpoint address="http://localhost:8080/TaskService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_TaskService" contract="TaskWcfService.TaskService" name="WSHttpBinding_TaskService">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>
            <endpoint address="https://hanauma/WASHost/TaskService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_TaskService_BasicAuth"
                      contract="TaskWcfService.TaskService" name="BasicHttpBinding_TaskService_BasicAuth" behaviorConfiguration="credentials" />
            <endpoint address="https://hanauma/WASHost/TaskService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_TaskService_WindowsAuth"
                      contract="TaskWcfService.TaskService" name="BasicHttpBinding_TaskService_WindowsAuth" />
        </client>
    </system.serviceModel>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel" propagateActivity="true" switchValue="Information, ActivityTracing">
                <listeners>
                    <add name="file" type="System.Diagnostics.XmlWriterTraceListener" initializeData="clientTrace.svclog" />
                </listeners>
            </source>
        </sources>
        <trace autoflush="true" />
    </system.diagnostics>
</configuration>
