<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
   <system.serviceModel>
      <services>
         <service name = "MyService" behaviorConfiguration = "MessageProtectionCert">
            <endpoint
               address  = "sb://MySolution.servicebus.windows.net/MyService/"
               binding  = "netOnewayRelayBinding"
               bindingConfiguration = "MessageSecurity"
               contract = "IMyContract"
            />
         </service>
      </services>
      <behaviors>
         <serviceBehaviors>
            <behavior name = "MessageProtectionCert">
               <serviceCredentials>
                  <serviceCertificate
                     findValue     = "MyServiceCert"
                     storeLocation = "LocalMachine"
                     storeName     = "My"
                     x509FindType  = "FindBySubjectName"
                  />
               </serviceCredentials>
            </behavior>
         </serviceBehaviors>
      </behaviors>
      <bindings>
         <netOnewayRelayBinding>
            <binding name = "MessageSecurity">
               <security mode = "Message">
                  <message clientCredentialType = "UserName"/>
               </security>
            </binding>
         </netOnewayRelayBinding>
      </bindings>
   </system.serviceModel>
</configuration>
