<?xml version="1.0"   encoding="utf-8"  ?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint name = "MyEndpoint" behaviorConfiguration = "ServiceCertificate"
            address = "sb://MySolution/servicebus.windows.net/MyService"
            binding = "netTcpRelayBinding"
            bindingConfiguration = "DirectDemo"
            contract = "IMyContract">
            <identity>
               <dns value = "MyServiceCert"/>
            </identity>
         </endpoint>
      </client>
      <bindings>
         <netTcpRelayBinding>
            <binding name = "DirectDemo" connectionMode = "Direct">
               <security mode = "Message">
                  <message clientCredentialType = "None"/>
               </security>
            </binding>
         </netTcpRelayBinding>
      </bindings>
      <behaviors>
         <endpointBehaviors>
            <behavior name = "ServiceCertificate">
               <clientCredentials>
                  <serviceCertificate>
                     <authentication certificateValidationMode= "PeerTrust"/>
                  </serviceCertificate>
               </clientCredentials>
            </behavior>
         </endpointBehaviors>
      </behaviors>
   </system.serviceModel>
</configuration>