<?xml version="1.0"   encoding="utf-8"   ?>
<configuration>
   <system.serviceModel>
      <services>
         <service name = "ContactManager">
            <endpoint 
               address  = "http://localhost:8000/CustomerManager" 
               binding  = "wsHttpBinding"
               contract = "IContactManager" 
            />
         </service>
      </services>
   </system.serviceModel>
</configuration>
