<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
   <system.serviceModel>
      <services>
         <service name = "MyCalculator">
            <endpoint
               address  = "net.msmq://localhost/private/MyCalculatorQueue" 
               binding  = "netMsmqBinding"
               bindingConfiguration = "NoMSMQSecurity"
               contract = "ICalculator" 
            />
         </service>
      </services>
      <bindings>
         <netMsmqBinding>
            <binding name ="NoMSMQSecurity">
               <security mode ="None">
               </security>
            </binding>
         </netMsmqBinding>
      </bindings>
   </system.serviceModel>
</configuration>
