<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="Northwind.Properties.Settings.NorthwindConnectionString" connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="Northwind.Properties.Settings.NorthwindConnectionString1" connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="PubsEntities" connectionString="metadata=res://*/Entities.Pubs.csdl|res://*/Entities.Pubs.ssdl|res://*/Entities.Pubs.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=pubs;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
		<add name="NorthwindObjectContext" connectionString="metadata=res://*/Entities.Northwind.csdl|res://*/Entities.Northwind.ssdl|res://*/Entities.Northwind.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
</configuration>
