<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>  
   <system.serviceModel>
      <services>
         <service name = "MyService" behaviorConfiguration = "Anonymous">
            <endpoint
               address  = "http://localhost:8000/MyService" 
               binding  = "wsHttpBinding"
               bindingConfiguration = "UserNameWS"
               contract = "IMyContract"
            />
         </service>
      </services>
      <behaviors>
         <serviceBehaviors>
            <behavior name = "Anonymous">
               <serviceCredentials>
                  <serviceCertificate 
                     findValue     = "MyServiceCert"
                     storeLocation = "LocalMachine"
                     storeName     = "My"
                     x509FindType  = "FindBySubjectName"
                  />
                  <clientCertificate>
                     <authentication certificateValidationMode = "PeerTrust"/>
                  </clientCertificate>
               </serviceCredentials>
               <serviceAuthorization principalPermissionMode = "None"/>
            </behavior>
         </serviceBehaviors>
      </behaviors>
      <bindings>
         <wsHttpBinding>
            <binding name = "UserNameWS">
               <security mode = "Message">
                  <message
                     clientCredentialType = "Certificate"
                  />
               </security>
            </binding>
         </wsHttpBinding>
      </bindings>
   </system.serviceModel>
</configuration>
