<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.web>
        <webServices>
            <protocols>
                <add name="HttpSoap1.2" />
                <add name="HttpSoap" />
                <add name="HttpPostLocalhost" />
                <add name="Documentation" />
            </protocols>
        </webServices>
    </system.web>
</configuration>
