<?xml version = "1.0" encoding = "utf-8"?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint
            address  = "net.msmq://localhost/private/MyServiceQueue"
            binding  = "netMsmqBinding"
            bindingConfiguration = "NoMSMQSecurity"
            contract = "IMyContract"
         />
      </client>
      <bindings>
         <netMsmqBinding>
            <binding name ="NoMSMQSecurity">
               <security mode = "None">
               </security>
            </binding>
         </netMsmqBinding>
      </bindings>
   </system.serviceModel>
</configuration>