<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="locking.urls" type="Locking.Configuration.UrlSection, Locking"/>
	</configSections>
	<locking.urls name="Favorites" lockAllElementsExcept="urls">
		<simple name="Microsoft" url="http://www.microsoft.com" port="0" />
		<urls>
			<urlItem name="Microsoft" url="http://www.microsoft.com" port="0"
				lockAllAttributesExcept="port" />
			<urlItem name="Contoso" url="http://www.contoso.com/" port="8080"
				lockAllAttributesExcept="port" lockItem="true" />
		</urls>
	</locking.urls>
</configuration>