<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint behaviorConfiguration = "ServiceCertificate"
            address  = "http://localhost:8000/MyService" 
            binding  = "wsHttpBinding"
            bindingConfiguration = "UserNameWS"
            contract = "IMyContract">
            <identity>
               <dns value = "MyServiceCert"/>
            </identity>
         </endpoint>
      </client>
      <bindings>
         <wsHttpBinding>
            <binding name = "UserNameWS">
               <security mode = "Message">
                  <message 
                     clientCredentialType = "Certificate" 
                  />
               </security>
            </binding>
         </wsHttpBinding>
      </bindings>
      <behaviors>
         <endpointBehaviors>
            <behavior name = "ServiceCertificate">
               <clientCredentials>
                  <serviceCertificate>
                     <authentication certificateValidationMode = "PeerTrust"/>
                  </serviceCertificate>
                  <clientCertificate
                     findValue     = "MyClientCert"
                     storeLocation = "LocalMachine"
                     storeName     = "My"
                     x509FindType  = "FindBySubjectName"
                  />

               </clientCredentials>
            </behavior>
         </endpointBehaviors>
      </behaviors>
   </system.serviceModel>
</configuration>