@{
    ViewBag.Title = "Index";
}
@model IEnumerable<HeadOffice.Models.Customer>

<h2>Customers</h2>

<table>
    <tr>
        <th>Last Name</th>  
        <th>First Name</th>      
        <th>Email</th>
        <th>Phone</th>
    </tr>
    @foreach (var item in Model) {
    <tr>       
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
    </tr>
}
</table>
