<?xml version = "1.0" encoding = "utf-8"?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint
            address  = "net.msmq://localhost/private/MyCalculatorQueue" 
            binding  = "netMsmqBinding"
            bindingConfiguration = "NoMSMQSecurity"
            contract = "ICalculator" 
         />
      </client>
      <services>
         <service name = "MyCalculatorResponse">
            <endpoint    
               address  = "net.msmq://localhost/private/MyCalculatorResponseQueue"
               binding  = "netMsmqBinding"
               bindingConfiguration = "NoMSMQSecurity"
               contract = "ICalculatorResponse"
            />
         </service>
      </services>
      <bindings>
         <netMsmqBinding>
            <binding name ="NoMSMQSecurity">
               <security mode = "None">
               </security>
            </binding>
         </netMsmqBinding>
      </bindings>
   </system.serviceModel>
</configuration>