<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
   <system.serviceModel>
      <services>
         <service name = "MyService" behaviorConfiguration = "MessageProtectionCert">
            <endpoint behaviorConfiguration = "RelayCreds"
               address  = "sb://MySolution.servicebus.windows.net/MyService/"
               binding  = "netTcpRelayBinding"
               bindingConfiguration = "MessageSecurity"
               contract = "IMyContract"
            />
         </service>
      </services>
      <behaviors>
         <serviceBehaviors>
            <behavior name = "MessageProtectionCert">
               <serviceCredentials>
                  <serviceCertificate
                     findValue     = "MyServiceCert"
                     storeLocation = "LocalMachine"
                     storeName     = "My"
                     x509FindType  = "FindBySubjectName"
                  />
               </serviceCredentials>
            </behavior>
         </serviceBehaviors>
         <endpointBehaviors>
            <behavior name = "RelayCreds">
               <transportClientEndpointBehavior credentialType = "X509Certificate">
                  <clientCredentials>
                     <clientCertificate
                        findValue     = "MyServiceCert"
                        storeLocation = "LocalMachine"
                        storeName     = "My"
                        x509FindType  = "FindBySubjectName"
                     />
                  </clientCredentials>
               </transportClientEndpointBehavior>
            </behavior>
         </endpointBehaviors>
      </behaviors>
      <bindings>
         <netTcpRelayBinding>
            <binding name = "MessageSecurity">
               <security>
                  <message clientCredentialType = "None"/>
               </security>
            </binding>
         </netTcpRelayBinding>
      </bindings>
   </system.serviceModel>
</configuration>
