<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <bindings>
        <wsHttpBinding>
          <binding name="wsHttpNoSecurity">
            <security mode="None"/>
          </binding>
        </wsHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost:8010/RouterService" binding="wsHttpBinding"
          bindingConfiguration="wsHttpNoSecurity"
          contract="localhost.IMessageManagerService" />
      </client>
    </system.serviceModel>
</configuration>

