<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.6" />
        <httpRuntime targetFramework="4.6" />
    </system.web>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <routing soapProcessingEnabled="true" routeOnHeadersOnly="true" filterTableName="routingTable"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <!--
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    -->
        <services>
            <service name="System.ServiceModel.Routing.RoutingService">
                <endpoint binding="wsHttpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter" />
            </service>
        </services>
        <client>
            <endpoint address="http://localhost:58003/RegularCalculator.svc" name="regularCalcEndpoint"
              binding="basicHttpBinding" contract="*" />
            <endpoint address="http://localhost:58003/RoundingCalculator.svc" name="roundingCalcEndpoint"
              binding="basicHttpBinding" contract="*" />
        </client>
        <routing>
            <namespaceTable>
                <add namespace="http://alexeypr.com/2015/09/VersionBasedRouting" prefix="ap" />
            </namespaceTable>
            <filters>
                <filter name="XPathRegularFilter" filterType="XPath" filterData="sm:header()/ap:CalcVersion = '2'" />
                <filter name="XPathRoundingFilter" filterType="XPath" filterData="sm:header()/ap:CalcVersion = '1'" />
                <filter name="XPathNoHeaderFilter" filterType="XPath" filterData="count(sm:header()/ap:CalcVersion) = 0" />
            </filters>
            <filterTables>
                <filterTable name="routingTable">
                    <add filterName="XPathRegularFilter" endpointName="regularCalcEndpoint" />
                    <add filterName="XPathRoundingFilter" endpointName="roundingCalcEndpoint" />
                    <add filterName="XPathNoHeaderFilter" endpointName="regularCalcEndpoint" />
                </filterTable>
            </filterTables>
        </routing>
    </system.serviceModel>
</configuration>