<?xml version="1.0"?>
<configuration>
   <system.serviceModel>
      <services>
         <service name ="MyPersistentSubscriber" behaviorConfiguration = "MEX Enabled">
            <endpoint
               binding = "wsHttpBinding"
               bindingConfiguration = "ReliableTransactionalHTTP" 
               contract = "IMyEvents"
            />
         </service>
      </services>
      <behaviors>
         <serviceBehaviors>
            <behavior name = "MEX Enabled">
               <serviceMetadata httpGetEnabled = "true"/>
            </behavior>
         </serviceBehaviors>
      </behaviors>
      <bindings>
         <wsHttpBinding>
            <binding name="ReliableTransactionalHTTP" transactionFlow = "true">
               <reliableSession enabled = "true" />
            </binding>
         </wsHttpBinding>
      </bindings>
   </system.serviceModel>
   <appSettings/>
   <connectionStrings/>
   <system.web>
      <compilation debug = "true">
         <assemblies>
            <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
         </assemblies>
      </compilation>
      <authentication mode="Windows"/>
   </system.web>
</configuration>
