<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
   <system.serviceModel>
      <services>
         <service name = "MyService">
            <endpoint
               address  = "net.tcp://localhost:8000/MyService/" 
               binding  = "netTcpBinding"
               bindingConfiguration = "RM"
               contract = "IMyContract"
            />
         </service>
     </services>
      <bindings>
         <netTcpBinding>
            <binding name = "RM">
               <reliableSession enabled = "true"/>
            </binding>
         </netTcpBinding>
      </bindings>
   </system.serviceModel>
</configuration>
