<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Metadata" name="ChatLibrary.ChatService">
        <endpoint address="text" binding="basicHttpBinding" bindingConfiguration="basicConfig1" contract="ChatLibrary.IChat"/>
        <endpoint address="mtom" binding="basicHttpBinding" bindingConfiguration="basicConfig2" contract="ChatLibrary.IChat"/>
        <endpoint address="secure" binding="wsHttpBinding" bindingConfiguration="wsConfig" contract="ChatLibrary.IChat"/>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpConfig" contract="ChatLibrary.IChat"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="myWSHttpBindingConfiguration" contract="ChatLibrary.IChat"/>
        <endpoint address="nethttp" binding="netHttpBinding" bindingConfiguration="myNetHttpBindingConfiguration" contract="ChatLibrary.IChat"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/chat"/>
            <add baseAddress="net.tcp://localhost:8081/chat"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="basicConfig1" messageEncoding="Text">
          <security mode="None"/>
        </binding>
        <binding name="basicConfig2" messageEncoding="Mtom">
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsConfig" transactionFlow="true">
          <security mode="None">
            <message clientCredentialType="UserName"/>
          </security>
          <reliableSession enabled="true" ordered="true"/>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="tcpConfig" transactionFlow="true" transactionProtocol="WSAtomicTransactionOctober2004">
          <security mode="None"/>
          <reliableSession enabled="true" ordered="true"/>
        </binding>
      </netTcpBinding>
      <customBinding>
        <binding name="myBasicHttpBindingConfiguration">
          <textMessageEncoding messageVersion="Soap11WSAddressingAugust2004"/>
          <httpTransport allowCookies="true" useDefaultWebProxy="true" transferMode="Streamed"/>
        </binding>
        <binding name="myWSHttpBindingConfiguration">
          <transactionFlow/>
          <reliableSession ordered="true"/>
          <security authenticationMode="SspiNegotiated"/>
          <binaryMessageEncoding/>
          <httpTransport/>
        </binding>
        <binding name="myNetTcpBindingConfiguration">
          <transactionFlow/>
          <reliableSession ordered="true"/>
          <textMessageEncoding/>
          <windowsStreamSecurity/>
          <tcpTransport/>
        </binding>
      </customBinding>
      <netHttpBinding>
          <binding name="myNetHttpBindingConfiguration" transferMode="Streamed" useDefaultWebProxy="true"/>
      </netHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Metadata">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <bindingExtensions>
        <add name="netHttpBinding" type="NetHttpBindingLibrary.NetHttpBindingSection, NetHttpBindingLibrary"/>
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
