<?xml version = "1.0" encoding = "utf-8"?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint behaviorConfiguration = "RelayCreds"
            address  = "sb://MySolution.servicebus.windows.net/MyService/"
            binding  = "netTcpRelayBinding"
            contract = "IMyContract"
         />
      </client>
      <behaviors>
         <endpointBehaviors>
            <behavior name = "RelayCreds">
               <transportClientEndpointBehavior credentialType = "UserNamePassword">
                  <clientCredentials>
                     <userNamePassword userName = MySolution password = "MyPassword"/>
                  </clientCredentials>
               </transportClientEndpointBehavior>
            </behavior>
         </endpointBehaviors>
      </behaviors>
   </system.serviceModel>
</configuration>