<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>

   <connectionStrings>
      <remove name = "LocalSqlServer"/>
      <add name = "LocalSqlServer" connectionString="data source=(local);Integrated Security=SSPI;Initial Catalog=aspnetdb"/>
   </connectionStrings>
   
   <system.serviceModel>
      <services>
         <service name = "MyNamespace.MyService">
            <endpoint
               address  = "net.tcp://localhost:8001/MyService" 
               binding  = "netTcpBinding"
               contract = "MyNamespace.IMyContract"
            />
         </service>
      </services>
   </system.serviceModel>
</configuration>
