<?xml version = "1.0" encoding = "utf-8"?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint behaviorConfiguration = "NoRelayCreds"
            address  = "sb://MySolution.servicebus.windows.net/MyService/"
            binding  = "netTcpRelayBinding"
            bindingConfiguration = "NoBusAuthentication"
            contract = "IMyContract"
         />
      </client>
      <bindings>
         <netTcpRelayBinding>
            <binding name = "NoBusAuthentication">
               <security relayClientAuthenticationType = "None"/>
            </binding>
         </netTcpRelayBinding>
      </bindings>
      <behaviors>
         <endpointBehaviors>
            <behavior name = "NoRelayCreds">
               <transportClientEndpointBehavior credentialType = "Unauthenticated"/>
            </behavior>
         </endpointBehaviors>
      </behaviors>
   </system.serviceModel>
</configuration>