<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IssuerName" value="adatum"/>
    <add key="SigningCertificateName" value="CN=adatum"/>
    <add key="EncryptingCertificateName" value=""/>
    <add key="AdatumIssuerIdentifier" value="http://adatum/trust"/>
  </appSettings>
  <location path="FederationMetadata">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <!-- 
      Authentication is set to "None" because the WSFederationAuthenticationModule 
      will perform the federated authentication. 
    -->
    <authentication mode="None"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="samples" namespace="Samples.Web.UI.Controls" assembly="Samples.Web.UI.Controls"/>
      </controls>
    </pages>
    <compilation targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>