<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ServiceParameters"
				 type="LoggerService.Configuration.ServiceParamsSection, LoggerService" />
	</configSections>
	<ServiceParameters location=".\loggerOutput.txt" />
	<system.runtime.remoting>
		<application> <!-- name="LoggerService" -->
			<service>
				<wellknown mode="SingleCall"
						   type="LoggerService.Facade.Logger, LoggerService.Facade"
						   objectUri="ServiceFacade.rem" />
			</service>
			<channels>
				<channel ref="tcp server" port="8080" />
			</channels>
		</application>
		<debug loadTypes="true" />
	</system.runtime.remoting>
</configuration>