<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="DataAccessConfiguration" type="Northwind.Configuration.DataAccessConfigurationSection"/>
	</configSections>
	<DataAccessConfiguration StartParameterIndex="1" BlobOffset="78" ProviderFactory="System.Data.SqlClient"/>
	<appSettings>
		<add key="TerraServerService.TerraService" value="http://terraserver-usa.com/TerraService.asmx"/>
	</appSettings>
	<connectionStrings>
		<add name="Northwind" connectionString="Data Source=EPUSPRIW0081;Initial Catalog=Northwind;Integrated Security=SSPI"/>
		<add name="NorthwindAsync" connectionString="Data Source=EPUSPRIW0081;Initial Catalog=Northwind;Integrated Security=SSPI;Asynchronous Processing=true"/>
		<add name="NorthwindObjectContext" connectionString="metadata=res://NorthwindDataAccessComponents/Entities.Northwind.csdl|res://NorthwindDataAccessComponents/Entities.Northwind.ssdl|res://NorthwindDataAccessComponents/Entities.Northwind.msl;provider=System.Data.SqlClient;provider connection string='Data Source=EPUSPRIW0081;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
   <assemblies>
    <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
    <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
   </assemblies>
  </compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpHandlers>
			<add verb="*" path="FileViewer.ashx" type="FileViewer"/>
			<add verb="*" path="EmployeePhoto.ashx" type="Northwind.UI.EmployeePhotoHandler"/>
		</httpHandlers>
		<httpModules>
			<add name="SessionSpy" type="SessionSpyModule"/>
		</httpModules>
		<!-- increase maximum request size to 8M (useful for big file uploads) -->
		<httpRuntime maxRequestLength="8192"/>
		<trace enabled="true" localOnly="true" traceMode="SortByTime" requestLimit="100"/>
		<!--
		<sessionState mode="SQLServer" sqlConnectionString="Data Source=.\SQLEXPRESS;Integrated Security=True" cookieless="AutoDetect" compressionEnabled="true"/>
    -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" theme="Blue"/>
		<!-- this setting is valid only for compatibility version 3.5 -->
		<xhtmlConformance mode="Transitional"/>
		<siteMap enabled="true" defaultProvider="RootSiteMapProvider">
			<providers>
				<add name="RootSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Default.sitemap"/>
				<add name="NorthwindSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Northwind/Northwind.sitemap"/>
			</providers>
		</siteMap>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
</configuration>
