<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="RetryPolicyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.WindowsAzure.TransientFaultHandling.Configuration.RetryPolicyConfigurationSettings, Microsoft.Practices.EnterpriseLibrary.WindowsAzure.TransientFaultHandling" />
    <section name="typeRegistrationProvidersConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <RetryPolicyConfiguration defaultRetryStrategy="Fixed Interval Retry Strategy" defaultAzureStorageRetryStrategy="Fixed Interval Retry Strategy" defaultSqlCommandRetryStrategy="Backoff Retry Strategy">
    <incremental name="Incremental Retry Strategy" retryIncrement="00:00:01" initialInterval="00:00:01" maxRetryCount="10" />
    <fixedInterval name="Fixed Interval Retry Strategy" retryInterval="00:00:05" maxRetryCount="6" firstFastRetry="true" />
    <exponentialBackoff name="Backoff Retry Strategy" minBackoff="00:00:05" maxBackoff="00:00:45" deltaBackoff="00:00:04" maxRetryCount="10" />
  </RetryPolicyConfiguration>
  <typeRegistrationProvidersConfiguration>
    <clear />
    <add sectionName="RetryPolicyConfiguration" name="RetryPolicyConfiguration" />
  </typeRegistrationProvidersConfiguration>
  <appSettings>
    <!-- ACS Management credentials. Replace with credentials from your namespace-->
    <add key="acsnamespace" value="{your_acs_namespace}"/>
    <add key="acsusername" value="{your_acs_username}"/>
    <add key="acspassword" value="{your_acs_password}"/>

    <add key ="realmaddress" value="https://127.0.0.1"/>
    <add key="replyaddress" value="https://127.0.0.1"/>
    
    <!-- ServiceBus management credentials. Replace with credentials from your namespace-->
    <add key="servicebusnamespace" value="{your_service_bus_namespace}"/>
    <add key="defaultissuer" value="owner"/>    
    <add key="defaultkey" value="{your_service_bus_key}"/>
    
    <!-- Predefined signing key for ACS Contoso Service Identity. Do not replace-->
    <add key="symmetrickeyforcontoso" value="{symmetrickeyforcontoso_value}"/>
    
    <!-- Predefined signing key for ACS Fabrikam Service Identity. Do not replace-->
    <add key="symmetrickeyforfabrikam" value="{symmetrickeyforfabrikam_value}"/>
    
    <!-- Predefined credentials for orders website connection to neworderstopic. Do not replace.-->
    <add key="neworderjob.name" value="neworderjob"/>
    <add key="neworderjob.key" value="{neworderjob_key_value}"/>
    
    <!-- Predefined credentials for Worker role connection to OrderStatusUpdateQueue. Do not replace.-->
    <add key="statusupdatejob.name" value="statusupdatejob"/>
    <add key="statusupdatejob.key" value="{statusupdatejob_key_value}"/>
    
    <!-- Predefined user credentials for transport partners. Do not replace.-->
    <add key="contoso.name" value="Contoso"/>
    <add key="contoso.key" value="{contoso_key_value}"/>

    <!-- Predefined user credentials for auditloglistener. Do not replace.-->
    <add key="auditloglistener.name" value="auditloglistener"/>
    <add key="auditloglistener.key" value="{auditloglistener_key_value}"/>

    <add key="fabrikam.name" value="Fabrikam"/>
    <add key="fabrikam.key" value="{fabrikam_key_value}"/>

    <!-- Predefined user credentials for service bus relay. Do not replace.-->
    <add key="externaldataanalyzer.name" value="ExternalDataAnalyzer"/>
    <add key="externaldataanalyzer.key" value="{externaldataanalyzer_key_value}"/>
    <add key="headoffice.name" value="HeadOffice"/>
    <add key="headoffice.key" value="{headoffice_key_value}"/>

    <!-- Predefined ServiceBus topic and queue names.-->
    <add key="servicebusqueuename" value="OrderStatusUpdateQueue"/>
    <add key="topicname" value="NewOrdersTopic"/>
    
    <!-- ACS service identity Password for Contoso transport partner -->
    <add key="contosoPassword" value="{your_message_password}"/>

    <!-- ACS service identity Password for Fabrikam transport partner -->
    <add key="fabrikamPassword" value="{your_message_password}"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
