<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="TerritoriesWcfServiceAspNetAjaxBehavior">
					<enableWebScript />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
			<service name="Northwind.Services.TerritoriesWcfService">
				<endpoint address="" behaviorConfiguration="TerritoriesWcfServiceAspNetAjaxBehavior"
				 binding="webHttpBinding" contract="Northwind.Services.TerritoriesWcfService" />
			</service>
		</services>
	</system.serviceModel>
</configuration>
