<?xml version="1.0" encoding="utf-8"  ?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint name = "DefaultFullTrust"
            address  = "net.tcp://localhost:6000/MyService"
            binding  = "netTcpBinding"
            contract = "IMyContract"
         />
         <endpoint name = "FullTrust"
            address  = "net.tcp://localhost:6001/MyService"
            binding  = "netTcpBinding"
            contract = "IMyContract"
         />
         <endpoint name = "PartialTrust"
            address  = "net.tcp://localhost:6002/MyService"
            binding  = "netTcpBinding"
            contract = "IMyContract"
         />
         <endpoint name = "InsufficientTrust"
            address  = "net.tcp://localhost:6003/MyService"
            binding  = "netTcpBinding"
            contract = "IMyContract"
         />
         <endpoint name = "PermissionSetFile"
            address  = "net.tcp://localhost:6004/MyService"
            binding  = "netTcpBinding"
            contract = "IMyContract"
         />
         <endpoint name = "NamedPermissionSet"
            address  = "net.tcp://localhost:6005/MyService"
            binding  = "netTcpBinding"
            contract = "IMyContract"
         />
      </client>
   </system.serviceModel>
</configuration>