<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
   <system.serviceModel>
      <services>
         <service name = "MyService">
            <endpoint behaviorConfiguration = "RelayCert"
               address  = "sb://MySolution.servicebus.windows.net/MyService/"
               binding  = "netTcpRelayBinding"
               contract = "IMyContract"
            />
         </service>
      </services>
      <behaviors>
         <endpointBehaviors>
            <behavior name = "RelayCert">
               <transportClientEndpointBehavior credentialType = "X509Certificate">
                  <clientCredentials>
                     <clientCertificate
                        findValue     = "MyServiceCert"
                        storeLocation = "LocalMachine"
                        storeName     = "My"
                        x509FindType  = "FindBySubjectName"
                     />                 
                  </clientCredentials>          
               </transportClientEndpointBehavior>
            </behavior>
         </endpointBehaviors>
      </behaviors>
   </system.serviceModel>
</configuration>
