<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WsHttpBindingConfiguration">
          <security mode="None" />
        </binding>
      </wsHttpBinding>

      <netTcpBinding>
        <binding name="NetTcpBindingConfiguration" closeTimeout="00:01:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" transferMode="Buffered" maxReceivedMessageSize="2147483647" transactionFlow="true" hostNameComparisonMode="StrongWildcard" portSharingEnabled="false" maxConnections="15" listenBacklog="15">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netTcpBinding>      
      
    </bindings>
    <services>
      <service name="Service2.Service2">
        <endpoint binding="wsHttpBinding" bindingConfiguration="WsHttpBindingConfiguration"
          name="MainEndpoint" contract="Service.Api.IService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint kind="udpAnnouncementEndpoint" />
              
              <endpoint 
                name="MyAnnouncementEndpoint"
                kind="announcementEndpoint"
                address="net.tcp://localhost/DiscoveryProxy/DiscoveryProxy.svc"
                bindingConfiguration="NetTcpBindingConfiguration"
                binding="netTcpBinding"/>                         
            </announcementEndpoints>
          </serviceDiscovery>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
