<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="serviceBusNamespace" value="{your_service_bus_namespace}"/>
    <add key="UriScheme" value="sb" />
    <add key="ServicePath" value="Services/RelayedOrdersStatistics"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint behaviorConfiguration="SharedSecretBehavior"
                binding="netTcpRelayBinding"
                contract="ExternalDataAnalyzer.IOrdersStatistics"
                name="RelayEndpoint"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SharedSecretBehavior">
          <transportClientEndpointBehavior credentialType="SharedSecret">
            <clientCredentials>
              <sharedSecret issuerName="externaldataanalyzer"
                            issuerSecret="{externaldataanalyzer_key_value}"/>
            </clientCredentials>
          </transportClientEndpointBehavior>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <bindingExtensions>
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
      <behaviorExtensions>
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
