<?xml version = "1.0" encoding = "utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
   <system.serviceModel>
      <client>
         <endpoint name = "TCP"
            address  = "net.tcp://localhost:8001/AccountService/"
            bindingConfiguration = "TransactionalTCP"
            binding  = "netTcpBinding"
            contract = "IAccount"
         />
         <endpoint name = "HTTP"
            address  = "http://localhost:8002/AccountService/"
            bindingConfiguration = "TransactionalHTTP"
            binding  = "wsHttpBinding"
            contract = "IAccount"
         />
         <endpoint 
            address  = "net.tcp://localhost:8003/AccountManager/"
            bindingConfiguration = "TransactionalTCP"
            binding  = "netTcpBinding"
            contract = "IAccountManager"
         />
      </client>
       
      <bindings>
         <netTcpBinding>
            <binding name = "TransactionalTCP" 
               transactionFlow = "true" 
            />
         </netTcpBinding>
         <wsHttpBinding>
            <binding name = "TransactionalHTTP"
               transactionFlow = "true"
            />
         </wsHttpBinding>
      </bindings>
   </system.serviceModel>
</configuration>