<?xml version = "1.0" encoding = "utf-8"?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint
            address  = "sb://MySolution.servicebus.windows.net/MyService/"
            binding  = "netOnewayRelayBinding"
            bindingConfiguration = "TransportSecurity"
            contract = "IMyContract"
         />
      </client>
      <bindings>
         <netOnewayRelayBinding>
            <binding name = "TransportSecurity">
               <security mode = "Transport"/>
            </binding>
         </netOnewayRelayBinding>
      </bindings>
   </system.serviceModel>
</configuration>