<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="DataAccessConfiguration" type="Northwind.Configuration.DataAccessConfigurationSection"/>
  </configSections>
  <DataAccessConfiguration StartParameterIndex="1" BlobOffset="78" ProviderFactory="System.Data.SqlClient"/>
  <appSettings>
    <add key="TerraServerService.TerraService" value="http://terraserver-usa.com/TerraService.asmx"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
  </appSettings>
  <connectionStrings>
    <add name="Northwind" connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=SSPI"/>
    <add name="NorthwindAsync" connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=SSPI;Asynchronous Processing=true"/>
    <add name="NorthwindObjectContext" connectionString="metadata=res://NorthwindDataAccessComponents/Entities.Northwind.csdl|res://NorthwindDataAccessComponents/Entities.Northwind.ssdl|res://NorthwindDataAccessComponents/Entities.Northwind.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient"/>
    <add name="AspNetDB" connectionString="Data Source=.;Initial Catalog=aspnetdb;Integrated Security=True"/>
    <add name="WebPartsTest" connectionString="Data Source=.;Initial Catalog=WebPartsTest;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <authorization>
      <deny users="?"/>
    </authorization>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <add path="FileViewer.ashx" verb="*" type="FileViewer"/>
      <add path="EmployeePhoto.ashx" verb="*" type="Northwind.UI.EmployeePhotoHandler"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="SessionSpy" type="SessionSpyModule"/>
    </httpModules>
    <!-- increase maximum request size to 8M (useful for big file uploads) -->
    <httpRuntime maxRequestLength="8192" requestValidationMode="2.0"/>
    <trace enabled="true" localOnly="true" traceMode="SortByTime" requestLimit="100"/>
    <!--
    <sessionState mode="SQLServer" sqlConnectionString="Data Source=EPUSPRIW0081;Initial Catalog=ASPNETDB;Integrated Security=True" cookieless="AutoDetect" compressionEnabled="true"/>
      -->
    <pages controlRenderingCompatibilityVersion="4.0" theme="Blue" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <!-- this setting is valid only for compatibility version 3.5 -->
    <xhtmlConformance mode="Transitional"/>
    <siteMap enabled="true" defaultProvider="RootSiteMapProvider">
      <providers>
        <add name="RootSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Default.sitemap"/>
        <add name="NorthwindSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Northwind/Northwind.sitemap"/>
      </providers>
    </siteMap>
    <healthMonitoring>
      <providers>
        <add name="LocalSqlServerWebEventProvider" connectionStringName="AspNetDB" maxEventDetailsLength="1073741823" buffer="false" bufferMode="Notification" type="System.Web.Management.SqlWebEventProvider,System.Web,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
      <rules>
        <add name="Request Errors 2 SQL" eventName="Request Processing Errors" provider="LocalSqlServerWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:01:00" custom=""/>
      </rules>
    </healthMonitoring>
    <profile defaultProvider="SqlServerProvider">
      <providers>
        <add name="SqlServerProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="AspNetDB" applicationName="AspNetBasics"/>
      </providers>
      <properties>
        <add name="SchemeColor" type="String"/>
      </properties>
    </profile>
    <webParts enableExport="true">
      <personalization defaultProvider="SqlServerProvider">
        <providers>
          <add name="SqlServerProvider" connectionStringName="AspNetDB" type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        </providers>
      </personalization>
    </webParts>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NumberAutoCompletionServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="NumberAutoCompletionService">
        <endpoint address="" behaviorConfiguration="NumberAutoCompletionServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="NumberAutoCompletionService"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>