<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint 
            address="http://localhost:8000/MyService/" 
            binding="basicHttpBinding"
            contract="IMyContract"
         />
      </client>
   </system.serviceModel>
</configuration>