body
{
	background-color: #CCCCFF;
}
h1
{
	font-size: large;
	font-family: Verdana,Tahoma,Arial;
	color: #000080;
	font-weight: bold;
}
h2
{
	font-size: medium;
	font-family: Verdana,Tahoma,Arial;
	color: #000080;
	font-weight: bold;
}

