<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DataAccessConfiguration" type="HelloWpf.Northwind.Configuration.DataAccessConfigurationSection, HelloWpf" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Northwind" connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=SSPI" />
    <add name="NorthwindAsync" connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=SSPI;Asynchronous Processing=true" />
    <add name="NorthwindObjectContext" connectionString="metadata=res://NorthwindDataAccessComponents/Entities.Northwind.csdl|res://NorthwindDataAccessComponents/Entities.Northwind.ssdl|res://NorthwindDataAccessComponents/Entities.Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AdventureWorksLT2008Entities" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AdventureWorksLT2008;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlClient" />
      <add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </DbProviderFactories>
  </system.data>
  <DataAccessConfiguration StartParameterIndex="1" BlobOffset="78" ProviderFactory="System.Data.SqlClient" />
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>