<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
  <services>
    <service name="Router.RouterService">
          <endpoint address="http://localhost:8010/RouterService" binding="customBinding" bindingConfiguration="manualAddressing" contract="Router.IRouterService">
      </endpoint>
    </service>
  </services>
    <bindings>
      <customBinding>
        <binding name="manualAddressing">
          <textMessageEncoding/>
          <httpTransport manualAddressing="true"/>
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="wsHttpNoSecurity">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
    <endpoint address="http://localhost:8000/MessageManagerService" binding="customBinding" bindingConfiguration="manualAddressing" contract="Router.IRouterService" name="serviceEndpoint"/>
  </client>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" maxMessagesToLog="100000"/>
    </diagnostics>

  </system.serviceModel>
  <system.diagnostics>
    <sharedListeners>
      <add name="sharedListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="d:\logs\urilistenerrouter.svclog"/>
    </sharedListeners>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="sharedListener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="sharedListener"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
