<?xml version="1.0"?>
<configuration>
  <system.serviceModel>



    <bindings>
      <wsHttpBinding>
        <binding name="WsBindingConfiguration">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>

      <netPeerTcpBinding>
        <binding name="PeerBindingUnsecure">
          <security mode="None"/>
          <resolver mode="Pnrp"/>
        </binding>
      </netPeerTcpBinding>

    </bindings>
    <services>
    

      <service name="DynamicRouter.PeerService2" behaviorConfiguration="PeerToPeerBehavior">
        <endpoint name="PeerServiceEndpoint" address="net.p2p://ServiceNotification" binding="netPeerTcpBinding" bindingConfiguration="PeerBindingUnsecure" contract="DynamicRouter.ISay"/>
      </service>


    </services>


    <behaviors>

      <serviceBehaviors>

        <behavior>
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>

        </behavior>

        <behavior name="PeerToPeerBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" httpGetUrl=""/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>

      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>

  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\router.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>



<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
