<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service type="ServiceLibrary.EchoService">
        <endpoint
          address="svc"
          binding="basicHttpBinding"
          contract="ServiceLibrary.IEchoService"/>
        <endpoint
          address="net.tcp://localhost:8081/echo/svc"
          binding="netTcpBinding"
          contract="ServiceLibrary.IEchoService"/>
        <endpoint
          address="https://localhost:8082/echo/svc"
          binding="basicHttpBinding"
          bindingConfiguration="MyBindingConfiguration" 
          contract="ServiceLibrary.IEchoService"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="MyBindingConfiguration">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>