<?xml version = "1.0" encoding = "utf-8"?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint name = "MyEndpoint"
            address  = "sb://MySolution/servicebus.windows.net/MyService/Callbacks"
            binding  = "netTcpRelayBinding"
            contract = "IMyContract"
         />
      </client>
   </system.serviceModel>
</configuration>