<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true"/>
  </system.web>

  <system.serviceModel>   
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint kind="udpAnnouncementEndpoint"/>
            </announcementEndpoints>
          </serviceDiscovery>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <endpointDiscovery enabled="true"/>
          
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Rashim.Discovery.Announcement.Server.MessageService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8085/MessageService"/>
          </baseAddresses>
        </host>
        <endpoint kind="mexEndpoint" />
        <endpoint kind="udpDiscoveryEndpoint"/>
        <!-- Application Endpoint -->
        <endpoint address="endpoint0"
                  binding="basicHttpBinding" contract="Rashim.Discovery.Announcement.Common.IMessageServices"/>
        
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>