body
{
	background-color: #FFCCCC;
}
h1
{
	font-size: large;
	font-family: Verdana,Tahoma,Arial;
	color: #800000;
	font-weight: bold;
}
h2
{
	font-size: medium;
	font-family: Verdana,Tahoma,Arial;
	color: #800000;
	font-weight: bold;
}