<?xml version="1.0"?>
<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	
	<system.serviceModel>
		<services>
			<service name="TaskService.TaskService">
				<!-- This endpoint is exposed at the base address provided by host: net.tcp://localhost/washost/taskservice.svc  -->
				<endpoint binding="netTcpBinding" bindingConfiguration="PortSharingBinding"
					contract="TaskService.ITaskService" />
				<!-- the mex endpoint is explosed at net.tcp://localhost/washost/taskservice.svc/mex -->
				<endpoint address="mex"
					binding="mexTcpBinding"
					contract="IMetadataExchange" />
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="PortSharingBinding"
					portSharingEnabled="true">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
