<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <system.serviceModel>
      <services>
         <service name = "MyNamespace.MyService">
            <endpoint
               address  = "http://localhost:8000/MyService" 
               binding  = "basicHttpBinding"
               contract = "MyNamespace.IMyContract" 
            />
         </service>
      </services>
    </system.serviceModel>
</configuration>
