<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint name = "OnEvent1"
            address  = "sb://MySolution/servicebus.windows.net/IMyEvents/OnEvent1"
            binding  = "netOnewayRelayBinding"
            contract = "IMyEvents"
         />
         <endpoint name = "OnEvent2"
            address  = "sb://MySolution/servicebus.windows.net/IMyEvents/OnEvent2"
            binding  = "netOnewayRelayBinding"
            contract = "IMyEvents"
         />
         <endpoint name = "OnEvent3"
            address  = "sb://MySolution/servicebus.windows.net/IMyEvents/OnEvent3"
            binding  = "netOnewayRelayBinding"
            contract = "IMyEvents"
         />
      </client>
   </system.serviceModel>
</configuration>
