<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
   <system.serviceModel>
      <services>
         <service name = "MyService" behaviorConfiguration = "MessageProtectionCert">
            <endpoint
               address  = "http://MySolution/servicebus.windows.net/MyService/"
               binding  = "wsHttpRelayBinding"
               bindingConfiguration = "WS Message Security"
               contract = "IMyContract"
            />
         </service>
      </services>
      <behaviors>
         <serviceBehaviors>
            <behavior name = "MessageProtectionCert">
               <serviceCredentials>
                  <serviceCertificate
                     findValue     = "MyServiceCert"
                     storeLocation = "LocalMachine"
                     storeName     = "My"
                     x509FindType  = "FindBySubjectName"
                  />
               </serviceCredentials>
               <serviceAuthorization principalPermissionMode ="None"/>
            </behavior>
         </serviceBehaviors>
      </behaviors>
      <bindings>
         <wsHttpRelayBinding>
         <!--WS must use message security (preferred) or https over transport security-->
            <binding name = "WS Message Security"> 
               <security>
                  <message clientCredentialType = "None"/>
               </security>
            </binding>
         </wsHttpRelayBinding>
      </bindings>
   </system.serviceModel>
</configuration>
