<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <clear />
          <add initializeData="" type="System.Diagnostics.DefaultTraceListener"
            name="Default" traceOutputOptions="None">
            <filter type="" initializeData="" />
          </add>
          <add initializeData="" name="MessageLogging Listener" traceOutputOptions="None">
            <filter type="" initializeData="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\2005-10-WCF\Samples\ProgrammingWcf\EchoServiceClient\App_messages.e2e"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="MessageLogging Listener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" initializeData="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
        maxMessagesToLog="1000" maxSizeOfMessageToLog="2147483647">
        <filters>
          <clear />
        </filters>
      </messageLogging>
    </diagnostics>
    <client>
      <endpoint name="httpEndpoint"
        address="http://localhost:8080/echo/svc"
        binding="basicHttpBinding"
        contract="ServiceLibrary.IEchoService"/>
      <endpoint name="tcpEndpoint"
        address="net.tcp://localhost:8081/echo/svc"
        binding="netTcpBinding"
        contract="ServiceLibrary.IEchoService"/>
    </client>
  </system.serviceModel>
</configuration>