<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="wsHttpSecurityRM" openTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
					<reliableSession enabled="true"/>
					<security mode="Message"/>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8010/RouterService" binding="wsHttpBinding" bindingConfiguration="wsHttpSecurityRM" contract="localhost.IMessageManagerService"/>
		</client>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
