<?xml version = "1.0" encoding = "utf-8"?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint
            address  = "sb://MySolution.servicebus.windows.net/MyService/"
            binding  = "netTcpRelayBinding"
            bindingConfiguration = "MixedSecurity"
            contract = "IMyContract"
         />
      </client>
      <bindings>
         <netTcpRelayBinding>
            <binding name = "MixedSecurity">
               <security mode = "TransportWithMessageCredential">
                  <message clientCredentialType = "UserName"/>
               </security>
            </binding>
         </netTcpRelayBinding>
      </bindings>
   </system.serviceModel>
</configuration>