<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
  <services>
    <service name="Router.RouterService">
          <endpoint address="http://localhost:8010/RouterService" binding="wsHttpBinding"  bindingConfiguration="wsHttpNoSecurity" contract="Router.IRouterService"  >
      </endpoint>
    </service>
  </services>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpNoSecurity">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
    <endpoint address="http://localhost:8000/MessageManagerService" binding="wsHttpBinding" bindingConfiguration="wsHttpNoSecurity" contract="Router.IRouterService" name="serviceEndpoint"  />
  </client>
    <diagnostics  >
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" maxMessagesToLog="100000"  />
    </diagnostics>

  </system.serviceModel>
  <system.diagnostics >
    <sharedListeners>
      <add name="sharedListener"
				 type="System.Diagnostics.XmlWriterTraceListener"
				 initializeData="d:\logs\urilistenerrouter.svclog" />
    </sharedListeners>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing" >
        <listeners>
          <add name="sharedListener" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="sharedListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

</configuration>