<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
   <system.serviceModel>
      <services>
         <service name = "AccountService">
            <endpoint
               address  = "net.tcp://localhost:8001/AccountService/"
               bindingConfiguration = "TransactionalTCP"
               binding  = "netTcpBinding"
               contract = "IAccount"
            />
            <endpoint
               address  = "http://localhost:8002/AccountService"
               bindingConfiguration = "TransactionalHTTP"
               binding  = "wsHttpBinding"
               contract = "IAccount"
            />
         </service>
         <service name = "AccountManager"  >
            <endpoint
               address  = "net.tcp://localhost:8003/AccountManager/"
               bindingConfiguration = "TransactionalTCP"
               binding  = "netTcpBinding"
               contract = "IAccountManager"
            />
         </service>
      </services>
      <client>
         <endpoint 
            address  = "net.tcp://localhost:8001/AccountService/"
            bindingConfiguration = "TransactionalTCP"
            binding  = "netTcpBinding"
            contract = "IAccount"
         />
      </client>
      <bindings>
         <netTcpBinding>
            <binding name = "TransactionalTCP"
               transactionFlow = "true"
            />
         </netTcpBinding>
         <wsHttpBinding>
            <binding name = "TransactionalHTTP"
               transactionFlow = "true"
            />
         </wsHttpBinding>
      </bindings>
   </system.serviceModel>
</configuration>
