<?xml version = "1.0" encoding = "utf-8"?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint behaviorConfiguration = "ServiceAndClientCertificate"
            address  = "http://MySolution.servicebus.windows.net/MyService/"
            binding  = "wsHttpRelayBinding"
            bindingConfiguration = "MessageSecurity"
            contract = "IMyContract">
            <identity>
               <dns value = "MyServiceCert"/>
            </identity>
         </endpoint>
      </client>
      <bindings>
         <wsHttpRelayBinding>
            <binding name = "MessageSecurity">
               <security mode = "Message">
                  <message clientCredentialType = "Certificate"/>
               </security>
            </binding>
         </wsHttpRelayBinding>
      </bindings>
      <behaviors>
         <endpointBehaviors>
            <behavior name = "ServiceAndClientCertificate">
               <clientCredentials>
                  <clientCertificate 
                     findValue = "MyClientCert"
                     storeLocation = "LocalMachine"
                     storeName = "My"
                     x509FindType = "FindBySubjectName"
                  />
                  <serviceCertificate>
                     <authentication certificateValidationMode= "PeerTrust"/>
                  </serviceCertificate>
               </clientCredentials>
            </behavior>
         </endpointBehaviors>
      </behaviors>
   </system.serviceModel>
</configuration>