<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
   <system.web>
      <roleManager enabled = "true"/>
      <membership defaultProvider = "SqlMembershipProvier">
         <providers>
            <add name = "SqlMembershipProvier"
               type  = "System.Web.Security.SqlMembershipProvider"
               connectionStringName = "AspNetDb"
               applicationName = "MyApplication"
            />
         </providers>
      </membership> 
   </system.web>
   <connectionStrings>
      <add name = "AspNetDb"
         connectionString = "data source=(local);Integrated Security=SSPI;Initial Catalog=aspnetdb"
      />
      <remove name = "LocalSqlServer"/>
      <add name = "LocalSqlServer" connectionString="data source=(local);Integrated Security=SSPI;Initial Catalog=aspnetdb"/>
   </connectionStrings>
   
   <system.serviceModel>
      <services>
         <service name = "MyService" behaviorConfiguration = "ASPNETProviders">
            <endpoint
               address  = "http://localhost:8000/MyService" 
               binding  = "wsHttpBinding"
               bindingConfiguration = "UserNameWS"
               contract = "IMyContract"
            />
         </service>
      </services>
      <behaviors>
         <serviceBehaviors>
            <behavior name = "ASPNETProviders">
               <serviceCredentials>
                  <userNameAuthentication userNamePasswordValidationMode = "MembershipProvider"/>
                  <serviceCertificate 
                     findValue     = "MyServiceCert"
                     storeLocation = "LocalMachine"
                     storeName     = "My"
                     x509FindType  = "FindBySubjectName"
                  />
               </serviceCredentials>
               <serviceAuthorization principalPermissionMode = "UseAspNetRoles"/>
            </behavior>
         </serviceBehaviors>
      </behaviors>
      <bindings>
         <wsHttpBinding>
            <binding name = "UserNameWS">
               <security mode = "Message">
                  <message
                     clientCredentialType = "UserName"
                  />
               </security>
            </binding>
         </wsHttpBinding>
      </bindings>
   </system.serviceModel>
</configuration>
