<?xml version = "1.0" encoding = "utf-8"?>
<configuration>
   <system.serviceModel>
      <services>
         <service name = "MyServiceB">
            <endpoint listenUri= "sb://MySolution.servicebus.windows.net/MySubRouter/"
               address  = "sb://MySolution.servicebus.windows.net/MyTopRouter/"
               binding  = "netOnewayRelayBinding"
               contract = "IMyContract"
            />
         </service>
      </services>
   </system.serviceModel>
</configuration>