<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <!--<system.serviceModel>
    <client>
      <endpoint contract="Rashim.RND.AdhocDiscovery.Services.IMessageService"
           kind="dynamicEndpoint"
             endpointConfiguration="myDynamicEndpointConfig" name="discovery">

      </endpoint>
    </client>
    <standardEndpoints>
      <dynamicEndpoint>
        <standardEndpoint name="myDynamicEndpointConfig">
          <discoveryClientSettings>
            <endpoint kind="udpDiscoveryEndpoint" name="udpDiscoveryEndpoint"/>
            <findCriteria maxResults="1">
              <scopes>
                <add scope="ldap:///ou=people,o=rashim"/>
              </scopes>
            </findCriteria>
          </discoveryClientSettings>

        </standardEndpoint>
      </dynamicEndpoint>
    </standardEndpoints>
  </system.serviceModel>-->
</configuration>
