<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
   <system.web>
      <roleManager enabled = "true"/>
   </system.web>
   
   <system.serviceModel>
      <services>
         <service name = "MyService" behaviorConfiguration = "MessageProtectionCert">
            <endpoint
               address  = "http://MySolution.servicebus.windows.net/MyService/"
               binding  = "wsHttpRelayBinding"
               bindingConfiguration = "MessageSecurity"
               contract = "IMyContract"
            />
         </service>
      </services>
      <behaviors>
         <serviceBehaviors>
            <behavior name = "MessageProtectionCert">
               <serviceCredentials>
                  <userNameAuthentication userNamePasswordValidationMode = "MembershipProvider"/>
                  <serviceCertificate
                     findValue     = "MyServiceCert"
                     storeLocation = "LocalMachine"
                     storeName     = "My"
                     x509FindType  = "FindBySubjectName"
                  />
               </serviceCredentials>
               <serviceAuthorization principalPermissionMode = "UseAspNetRoles"/>
            </behavior>
         </serviceBehaviors>
      </behaviors>
      <bindings>
         <wsHttpRelayBinding>
            <binding name = "MessageSecurity">
               <security mode = "Message">
                  <message clientCredentialType = "UserName"/>
               </security>
            </binding>
         </wsHttpRelayBinding>
      </bindings>
   </system.serviceModel>
</configuration>
