<?xml version = "1.0" encoding = "utf-8"?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint 
            address  = "http://localhost:8001/MyService" 
            binding  = "wsHttpBinding"
            contract = "IMyContract">
            <identity>
               <dns value = "MyServiceCert"/>
            </identity>
         </endpoint>
      </client>
   </system.serviceModel>
</configuration>