<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="urn:MessageManagerService" binding="ws2007HttpBinding" bindingConfiguration="wsHttp"
                contract="localhost.IMessageManagerService" name="MessageManagerService"  behaviorConfiguration="viaBehavior"/>
            <endpoint address="urn:MessageManagerServiceOneWay" binding="ws2007HttpBinding" bindingConfiguration="wsHttp"
                contract="localhost.IMessageManagerServiceOneWay" name="MessageManagerServiceOneWay" behaviorConfiguration="viaBehavior"/>
        </client>
      <bindings>
        <ws2007HttpBinding>
          <binding name="wsHttp">
            <security mode="None"/>
          </binding>
        </ws2007HttpBinding>
      </bindings>
      <behaviors>
        <endpointBehaviors>
          <behavior name="viaBehavior">
            <clientVia viaUri="http://localhost:8000/MessageManagerService"/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>