<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
   <system.serviceModel>
      <diagnostics performanceCounters = "All"/>
      <services>
         <service name = "MyService">
            <endpoint
               address  = "net.tcp://localhost:8000/MyService/" 
               binding  = "netTcpBinding"
               contract = "IMyContract"
            />
         </service>
      </services>
   </system.serviceModel>
</configuration>
